<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registered Templet (Ver1.0)</title>

<%-- Myself define JS [Start] --%>
<script type="text/javascript">
$(function(){
	/**
	 * Common: Date component
	 */
	$(".bootstrap-date-input").datetimepicker({//选择年月日
	　　　　　format: 'yyyy-mm-dd hh:mm:ss',
	　　　　　language: 'zh-CN',
	　　　　　weekStart: 1,
	　　　　　todayBtn: 1,//显示‘今日’按钮
	　　　　　autoclose: 1,
	　　　　　todayHighlight: 1,
	　　　　　startView: 2,
	　　　　　minView: 2,  //Number, String. 默认值：0, 'hour'，日期时间选择器所能够提供的最精确的时间选择视图。
	　　　　　clearBtn:true,//清除按钮

	　　　　　forceParse: 0
	　　　});
});
</script>
<%-- Myself define JS [End] --%>
</head>
<body class="body">
	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	<%-- Registered Form Templet [Start] --%>
	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 panel panel-primary panel-body">
		<%-- Carousel component [Start]--%>
		<div class="panel-heading" style="background:#784511">
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000" data-wrap="ture">
				<%-- <ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol> --%>
				<div class="carousel-inner">
					<div class="item active">
						<input type="button" class="form-control" value="This is registered Templet."/>
					</div>
					<div class="item">
						<input type="button" class="form-control" value="Sure,and also have two Templets."/>
					</div>
					<div class="item">
						<input type="button" class="form-control" value="Respectively is a search templet and a login templet."/>
					</div>
					<%-- 轮播（Carousel）导航 --%>
				    <a class="carousel-control left" href="#myCarousel" 
				        data-slide="prev">&lsaquo;
				    </a>
				    <a class="carousel-control right" href="#myCarousel" 
				        data-slide="next">&rsaquo;
				    </a>
				</div>
			</div>
		</div>
		<%-- Carousel component [End]--%>
		<form action="" role="form" class="">
			<%-- Date Templet Of Div [Start] --%>
			<div class=" panel panel-success panel-body">
				<div class="col-lg-2 col-md-3 col-sm-3 col-xs-4" style="text-align:right;margin-top:10px;"><label for="name">Date Example:</label></div>
				<div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
					<div class="input-group date bootstrap-date-input form-group">
						<span class="input-group-addon trigger-date-icon"><i class="glyphicon glyphicon-calendar"></i></span>  
						<input type="text" class="form-control risk-form-control-regular" id="triggerDate" data-bv-notempty-message="请输入触发时间！">  
					</div>
				</div>
			</div>
			<%-- Date Templet Of Div [End] --%>
			
			<%-- Input Templet [Start] --%>
			<div class="panel panel-primary panel-body">
				<div class="col-lg-2 col-md-3 col-sm-3 col-xs-4" style="text-align:right;margin-top:10px;"><label for="name">Input Box Example:</label></div>
				<div class="form-group col-lg-3 col-md-4 col-sm-5 col-xs-6">
					<input type="text" class="form-control">
				</div>
			</div>
			<%-- Input Templet [End] --%>
			
			<%-- Button modal Templet [Start]--%>
			<div class="panel panel-info panel-body" style="text-align:center;">
				<input type="button" class="btn btn-loading" data-toggle="modal" data-target="#modal" value="Modal Begging">
			</div>
			<%-- Button modal Templet [End]--%>
		</form>
	</div>
	<%-- Registered Form Templet [End] --%>
	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
		<div class="dropdown dropdown-info">
			<button type="button" class="btn btn-info" data-toggle="dropdown" value="">
				Templet Url
				<span class="caret"></span>
			</button>
			<ul id="dropdown-selected" class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="background:yellow;">
				<li><a data-target="#" href="./login_model.html">Login</a></li>
				<li class="divider"></li>
				<li><a data-target="#" href="./search_model.html">Search</a></li>
				<li class="divider"></li>
				<li><a data-target="#" href="./registered_model.html">Registered</a></li>
			</ul>
		</div>
	</div>
	<%-- Modal Box [Start] --%>
	<div class="modal fade" id="modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
				</div>
				<div class="modal-body">在这里添加一些文本</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary">提交更改</button>
			</div>
			</div>
		</div>
	</div>
	<%-- Modal Box [End] --%>
</body>
</html>